<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LipidLynxX{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <style type="text/css">
        .chart {
            margin-top: 30px;
            text-align: center;
        }
    </style>
    {% block js_code %}{% endblock %}
</head>
<body>
<header data-block-type="headers" data-id="1" data-vivaldi-spatnav-clickable="1">
    <nav class="navbar navbar-expand-lg bg-warning">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('.static', filename='images/LipidLynxX_Logo.png') }}" height="40" alt="logo">
            LipidLynxX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1"
                aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link fr-view" href="{{ url_for('.home') }}" target="_blank">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fr-view" href="{{ url_for('.home') }}" target="_blank">About LipidLynxXProject</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block foot_link %}{% endblock %}
<p></p>
<footer class="fdb-block footer-large bg-info" data-block-type="footers" data-id="3">
    <div class="container">
        <div class="row align-items-top text-center text-md-left"><p></p></div>
        <div class="row align-items-top text-center text-md-left">
            <div class="col">
                <h5><strong>LipidLynxX</strong></h5>
                <p>Link lipid identifiers into an unified nomenclature</p>
            </div>
            <div class="col">
                <h5><strong>About Us</strong></h5>
                <p>
                    <a href="https://home.uni-leipzig.de/fedorova/sysmedos/" style="color: grey">Team SysMedOs</a><br>
                    <a href="https://home.uni-leipzig.de/fedorova/" style="color: grey">Fedorova Research Group</a><br>
                    AG Bioanalytik<br>University Leipzig
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h6>Under development by team SysMedOs</h6>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
