{% extends "base.html" %}

{% block title %}
    Converter @ LipidLynxX
{% endblock %}

{% block js_code %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="False">
        <p></p>
        <h1>LipidLynxX Converter</h1>
        <div class="container">
            <div class="row align-items-center align-items-md-start">
                <div class="col-12 col-md-6 mb-4 mb-md-0" style="z-index: 10000;">
                    <ul class="nav nav-tabs justify-content-center" id="levelsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tools-tab" data-toggle="tab" href="#tools" role="tab"
                               aria-controls="tools" aria-selected="true">Convert list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="namesys-tab" data-toggle="tab" href="#namesys" role="tab"
                               aria-controls="namesys" aria-selected="false">Convert file</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="levelsTabContent">
                        <div class="tab-pane fade show active" id="tools" role="tabpanel"
                             aria-labelledby="tools-tab">
                            <p></p>
                            <h4>Input lipid abbreviations</h4>
                            <form action="{{ url_for('home') }}converter/text/" method="post">
                                <p><label>
                                    lipid_names <br>
                                    <textarea type="text" name="lipid_names" class="form-control" style="width:100%;"
                                              rows="8">palmitic acid&#10;DHA&#10;HETE&#10;PLPE&#10;PC O-16:0_18:2&#10;FaCoA 18:2;O&#10;C18 Sphingomyelin</textarea>
                                </label></p>
                                <p><label for="export_style">Choose the export style:
                                    <select id="export_style" name="export_style">
                                        <option value="LipidLynxX">LipidLynxX</option>
                                        <option value="ShorthandNotation">ShortHand Notation</option>
                                        <option value="COMP_DB">COMP_DB</option>
                                        <option value="BioPAN">BioPAN</option>
                                        <option value="LipidCreator">LipidCreator</option>
                                        <option value="LPPtiger">LPPtiger</option>
                                    </select></label></p>
                                <p><label for="export_level">Choose the export Level:
                                    <select id="export_level" name="export_level">
                                        <option value="B1">Bulk</option>
                                        <option value="D1">Molecular species level</option>
                                        <option value="MAX">Max level</option>
                                    </select></label></p>
                                <div class="alert alert-warning" role="alert">
                                    <ul>
                                        <li><small>COMP_DB and BioPAN export in <strong>Bulk</strong> level
                                            only.</small></li>
                                        <li><small>LipidCreator export supports <strong>Molecular species</strong> and
                                            <strong>sn specific species</strong>.</small></li>
                                        <li><small>LPPtiger export in <strong>sn specific species</strong> level
                                            only.</small></li>
                                    </ul>
                                </div>
                                <p><label for="file_type">Choose the export format:
                                    <select id="file_type" name="file_type">
                                        <option value="xlsx">.xlsx</option>
                                        <option value="csv">.csv</option>
                                    </select></label></p>
                                <div class="alert alert-warning" role="alert">
                                    <ul>
                                        <li><small>LipidCreator export supports <strong>.csv</strong> format
                                            only.</small></li>
                                        <li><small>LPPtiger export in <strong>.xlsx</strong> format only.</small></li>
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-primary" id="run_text_converter">Convert</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="namesys" role="tabpanel" aria-labelledby="namesys-tab">
                            <p></p>
                            <h4>Upload file with lipid abbreviations</h4>
                            <form action="{{ url_for('home') }}converter/file/" method="post" enctype="multipart/form-data">
                                <p><label>
                                    Select file: <br><small>support .csv and .xlsx file less than 10MB</small>
                                    <input type="file" name="file_obj">
                                </label></p>
                                <p><label for="export_style">Choose the export style:
                                    <select id="export_style" name="export_style">
                                        <option value="LipidLynxX">LipidLynxX</option>
                                        <option value="ShorthandNotation">ShortHand Notation</option>
                                        <option value="COMP_DB">COMP_DB</option>
                                        <option value="BioPAN">BioPAN</option>
                                        <option value="LipidCreator">LipidCreator</option>
                                        <option value="LPPtiger">LPPtiger</option>
                                    </select></label></p>
                                <p><label for="export_level">Choose the export Level:
                                    <select id="export_level" name="export_level">
                                        <option value="B1">Bulk</option>
                                        <option value="D1">Molecular species level</option>
                                        <option value="MAX">Max level</option>
                                    </select></label></p>
                                <div class="alert alert-warning" role="alert">
                                    <ul>
                                        <li><small>COMP_DB and BioPAN export in <strong>Bulk</strong> level
                                            only.</small></li>
                                        <li><small>LipidCreator export supports <strong>Molecular species</strong> and
                                            <strong>sn specific species</strong>.</small></li>
                                        <li><small>LPPtiger export in <strong>sn specific species</strong> level
                                            only.</small></li>
                                    </ul>
                                </div>
                                <p><label for="file_type">Choose the export format:
                                    <select id="file_type" name="file_type">
                                        <option value="xlsx">.xlsx</option>
                                        <option value="csv">.csv</option>
                                    </select></label></p>
                                <div class="alert alert-warning" role="alert">
                                    <ul>
                                        <li><small>LipidCreator export supports <strong>.csv</strong> format
                                            only.</small></li>
                                        <li><small>LPPtiger export in <strong>.xlsx</strong> format only.</small></li>
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-primary" id="run_file_converter">Convert file
                                </button>
                            </form>
                        </div>
                    </div>
                    <div><p>&nbsp;</p></div>
{#                    <div class="d-flex align-items-center alert alert-info" id="spinner" style="visibility: hidden">#}
{#                        <strong>LipidLynxX is running...</strong>#}
{#                        <div class="spinner-border  text-warning ml-auto" role="status" aria-hidden="true"></div>#}
{#                        <script type="application/javascript">#}
{#                            $(document).ready(function () {#}
{#                                $("#run_file_converter").click(function () {#}
{#                                    let spinner = document.getElementById("spinner");#}
{#                                    spinner.style.visibility = 'visible';#}
{#                                    let results_info = document.getElementById("results_info");#}
{#                                    results_info.style.visibility = 'hidden';#}
{#                                });#}
{#                                $("#run_text_converter").click(function () {#}
{#                                    let spinner = document.getElementById("spinner");#}
{#                                    spinner.style.visibility = 'visible';#}
{#                                    let results_info = document.getElementById("results_info");#}
{#                                    results_info.style.visibility = 'hidden';#}
{#                                });#}
{#                            });#}
{#                        </script>#}
{#                    </div>#}
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left" id="results_info">
                    {#                    {% if err_msgs %}#}
                    {#                        <div><h2>LipidLynxX output</h2><h4>&nbsp;</h4></div>#}
                    {#                        {% for err_msg in err_msgs %}#}
                    {#                            <div class="alert alert-danger" role="alert">{{ err_msg }}</div>#}
                    {#                        {% endfor %}#}
                    {#                    {% endif %}#}
{#                    <div class="d-flex align-items-center alert alert-info" id="spinner" style="visibility: hidden">#}
{#                        <strong>LipidLynxX is running...</strong>#}
{#                        <div class="spinner-border  text-warning ml-auto" role="status" aria-hidden="true"></div>#}
{#                        <script type="application/javascript">#}
{#                            $(document).ready(function () {#}
{#                                $("#run_file_converter").click(function () {#}
{#                                    let spinner = document.getElementById("spinner");#}
{#                                    spinner.style.visibility = 'visible';#}
{#                                    let results_info = document.getElementById("results_info");#}
{#                                    results_info.style.visibility = 'hidden';#}
{#                                });#}
{#                                $("#run_text_converter").click(function () {#}
{#                                    let spinner = document.getElementById("spinner");#}
{#                                    spinner.style.visibility = 'visible';#}
{#                                    let results_info = document.getElementById("results_info");#}
{#                                    results_info.style.visibility = 'hidden';#}
{#                                });#}
{#                            });#}
{#                        </script>#}
{#                    </div>#}
                    {% if token %}
                        <h2>LipidLynxX Converter output</h2>
                        <sub> Job created with token: {{ token }}</sub>
                        <div id="run_status">
                            <p id="run_time">LipidLynxX just started ...</p>
                            <p id="run_result"></p>
                            <div class="d-flex align-items-center alert alert-info" id="spinner">
                                <strong>LipidLynxX is running...</strong>
                                <div class="spinner-border  text-warning ml-auto" role="status" aria-hidden="true"></div>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div class="result"></div>
                        <script>

                            let d0 = new Date();
                            let t0 = d0.getTime()
                            let deltaTime = 5000
                            let interval = setInterval(doAjax, deltaTime);

                            function doAjax() {
                                let d1 = new Date();
                                let t = Math.floor((d1.getTime() - t0) / 1000)
                                let get_url = "{{ url_for('home') }}api/converter/jobs/{{token}}"
                                $.ajax({
                                    url: get_url,
                                    type: 'get',
                                    success: function(data){
                                        {#document.getElementById("run_result").innerHTML = status.toString() + ":" + JSON.stringify(data);#}
                                        {#let outputData = JSON.stringify(data)#}
                                        {#let results = JSON.parse(data)#}

                                        if ( data.status.toString() === 'finished' ) {
                                            {#alert('FINISHED' + data.status.toString())#}
                                            let spinner = document.getElementById("spinner");
                                            spinner.style.visibility = 'hidden';
                                            document.getElementById("run_time").innerHTML = "LipidLynxX finished in " + t.toString() + "s."
                                            document.getElementById("run_result").innerHTML = JSON.stringify(data)
                                            clearInterval(interval);
                                        } else{
                                            {#alert('WORKING' + data.status.toString())#}
                                            document.getElementById("run_time").innerHTML = "LipidLynxX is running for " + t.toString() + "s.";
                                            let spinner = document.getElementById("spinner");
                                            spinner.style.visibility = 'visible';
                                        }
                                    },
                                });
                            }

                            function stopAjax() {
                                clearInterval(interval);
                            }
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}