{% extends "base.html" %}

{% block title %}
    Equalizer @ LipidLynxX
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="False">
        <h1>LipidLynxX ID Equalizer</h1>
        <div class="container">
            <div class="row align-items-center align-items-md-start">
                <div class="col-7 text-left" style="z-index: 10000;">
                    <div class="row">
                        <h4>&nbsp;</h4>
                    </div>
                    <div class="row">
                        <h4>LipidLynx ID Level Matrix</h4>
                        <p>&nbsp;</p>
                    </div>
                    <ul class="nav nav-tabs" id="levelsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="unmod-tab" data-toggle="tab" href="#unmod" role="tab"
                               aria-controls="unmod" aria-selected="true">Unmodified Lipids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mod_lite-tab" data-toggle="tab" href="#mod_lite" role="tab"
                               aria-controls="mod_lite" aria-selected="false">Modified Lipids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mod_full-tab" data-toggle="tab" href="#mod_full" role="tab"
                               aria-controls="mod_full" aria-selected="false">All Levels</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="levelsTabContent">
                        <div class="tab-pane fade show active" id="unmod" role="tabpanel"
                             aria-labelledby="unmod-tab">
                            <h5 style="text-align: center; line-height: 2">Levels for unmodified lipids</h5>
                            <img class="img-fluid" src="{{ url_for('home') }}images/levels_unmod.png" alt="levels_hint">
                        </div>
                        <div class="tab-pane fade" id="mod_lite" role="tabpanel" aria-labelledby="mod_lite-tab">
                            <h5 style="text-align: center; line-height: 2">Main levels for modified lipids</h5>
                            <img class="img-fluid" src="{{ url_for('home') }}images/levels_mod_lite.png" alt="levels_hint">
                        </div>
                        <div class="tab-pane fade" id="mod_full" role="tabpanel" aria-labelledby="mod_full-tab">
                            <h5 style="text-align: center; line-height: 2">Full matrix of levels</h5>
                            <img class="img-fluid" src="{{ url_for('home') }}images/levels_mod_full.png" alt="levels_hint">
                        </div>
                    </div>
                    <div class="row">
                        * Learn more about &nbsp;<a href="{{ url_for('levels') }}" target="_blank"> the
                        LipidLynx ID Level Matrix </a>
                    </div>
                </div>
                <div class="col-5" style="z-index: 10000;">
                    <p>&nbsp;</p>
                    <div>
                        <form action="/equalizer/file/" method="post" enctype="multipart/form-data">
                            <p><label>
                                Select file: <br><small>support .csv and .xlsx file less than 10MB</small>
                                <input type="file" name="file_obj">
                            </label></p>
                            <p><label for="match_levels">Choose Lipid information level(s) for cross match:
                                <textarea type="text" name="match_levels" style="width:100%;" rows="1"> B1, D1</textarea></label></p>
                            <p><input type="submit" class="btn btn-primary"></p></form>
                        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
                            {% if err_msg %}
                                <div class="alert alert-danger" role="alert">
                                    <p>{{ err_msg }}</p>
                                </div>
                            {% endif %}
                            {% if output_file_data %}
                                <h2>LipidLynxX Equalizer output</h2>
                                <h4>&nbsp;</h4>
                                <div>
                                    <a class="btn btn-block btn-success"
                                       href="{{ url_for('get_download_file', data=output_file_data,
                           file_type=output_file_type, file_name=output_file_name) }}">
                                        Save output as:<br>{{ output_file_name }}
                                    </a>
                                </div>
                                <p>&nbsp;</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}