{% extends "base.html" %}

{% block title %}
    LipidLynxX
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="False">
        <h1>LipidLynxX Equalizer</h1>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-4 mb-md-0" style="z-index: 10000;"><p>
                    <h2>Set the LipidLynxX level(s)</h2>
                    <h2></h2>
                    <div>

                        <div>
                            <form id="in_form" method="post" action="{{ url_for('.equalize_lipid') }}"
                                  enctype="multipart/form-data">
                                {{ in_form.hidden_tag() }}
                                <div class="form-group">
                                    {{ in_form.input_id_str.label }}
                                    {% if in_form.input_id_str.errors %}
                                        {% for e in in_form.input_id_str.errors %}
                                            <p class="help-block">{{ e }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    {{ in_form.input_id_str(class_='form-control') }}
                                </div>
                                <h2>Upload table</h2>
                                <p>Support.csv or .xlsx format</p>
                                <input id="file1" class="btn btn-primary mt-4" type="file" name="user_file">
                                <input class="btn btn-primary mt-4" type="submit" value="Equalize">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left" style="z-index: 10000;">
                    {% if output_name != "" %}
                        <h2>LipidLynxX output</h2>
                        <h2></h2>
                        <a class="btn btn-secondary mt-4" href="{{ url_for('.download', filename=output_name) }}">
                            Save output as .xlsx file
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}