{% extends "base.html" %}

{% block title %}
    LipidLynxX
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="true">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-3" style="z-index: 10000;">
                    <div class="row">&nbsp;</div>
                    <div class="row"></div>
                    <div class="row"><h1>LipidLynxX<br></h1></div>
                    <div class="row">&nbsp;</div>
                    <div class="row"><img alt="image" class="img-fluid"
                                          src="../static/images/LipidLynxX_Logo.png"></div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <ul>
                            <li>LipidLynxX version: {{ lynx_version }}</li>
                            <li>API version: {{ api_version }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-1" style="z-index: 10000;"></div>
                <div class="col-8" style="z-index: 10000;">
                    <div class="row">&nbsp;</div>
                    <div class="row"><h2>Nomenclature Tools:<br></h2></div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ url_for('.converter') }}"><img alt="image" class="img-fluid"
                                                                       src="../static/images/converter_logo.png"></a>

                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h4>LipidLynxX Nomenclature Converter</h4>
                                <p>Convert different abbreviations to unified LipidLynxX identifier.</p>
                            </div>
                            <div class="row">
                                <div class="col-4"><a class="btn btn-info mt-4 btn-block"
                                                      href="{{ url_for('.converter') }}">
                                    Run Converter</a><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ url_for('.equalizer') }}"><img alt="image" class="img-fluid"
                                                                       src="../static/images/equalizer_logo.png"></a>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h4>LipidLynxX Nomenclature Equalizer</h4>
                                <p>Bring lipid identifiers into same level of information and perform cross
                                    level matching.</p>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="btn btn-info mt-4 btn-block" href="{{ url_for('.equalizer') }}">Run
                                        Equalizer</a><br></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}