{% extends "base.html" %}

{% block title %}
    Matrix of levels @ LipidLynxX
{% endblock %}

{% block body %}
    <h4>&nbsp;</h4>
    <h3>LipidLynxX nomenclature matrix of levels</h3>
    <h5>&nbsp;</h5>
    <ul>
        <li><p><span>Three component levels</span></p>
            <ul>
                <li><p>
                    <span>Residue levels: </span>
                    <ul>
                        <li><strong><span>B</span></strong><span>: Bulk,  </span></li>
                        <li><strong><span>D</span></strong><span>: Discrete,  </span></li>
                        <li><strong><span>S</span></strong><span>: sn Specific</span></li>
                    </ul>
                </p></li>
                <li><p><span>Modification levels:</span></p>
                    <ul>
                        <li><span>0 : no modification</span></li>
                        <li><span>1 : mass shift</span></li>
                        <li><span>2 : element shift</span></li>
                        <li><span>3 : number and type of modification</span></li>
                        <li><span>4 : modification position information</span></li>
                        <li><span>5 : additional information (e.g. R-/S-)</span></li>
                    </ul>
                </li>
                <li><p><span>Double bond levels:</span></p>
                    <ul>
                        <li><span>.0 : no information of double bond position (.0 should always be skipped, e.g. B0.0 -> B0)</span></li>
                        <li><span>.1 : double bond position information given</span></li>
                        <li><span>.2 : cis- / trans- information of all C=C bond </span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><p><span>LipidLynxX level matrix</span></p>
            <ul>
                <li><p><span>The combinations of 3 sub-levels result in a matrix of LipidLynxX levels</span></p>
                    <ul>
                        <li><span>e.g. B2 , D4, and S4.2</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-hover table-striped thead-light">
            <thead>
            <tr>
                <th><span>Mod</span></th>
                <th><span>DB</span></th>
                <th>&nbsp;</th>
                <th><span>Bulk</span></th>
                <th><span>Discrete</span></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th><span>sn Specific</span></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span>0</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>B0</span></strong></td>
                <td><strong><span>D0</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S0</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D0.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S0.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D0.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S0.2</span></strong></td>
            </tr>
            <tr>
                <td><span>1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>B1</span></strong></td>
                <td><strong><span>D1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D1.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S1.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D1.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S1.2</span></strong></td>
            </tr>
            <tr>
                <td><span>2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>B2</span></strong></td>
                <td><strong><span>D2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D2.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S2.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D2.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S2.2</span></strong></td>
            </tr>
            <tr>
                <td><span>3</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>B3</span></strong></td>
                <td><strong><span>D3</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S3</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D3.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S3.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D3.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S3.2</span></strong></td>
            </tr>
            <tr>
                <td><span>4</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D4</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S4</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D4.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S4.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D4.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S4.2</span></strong></td>
            </tr>
            <tr>
                <td><span>5</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D5</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S5</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span>.1</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D5.1</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S5.1</span></strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span>.2</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>D5.2</span></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong><span>S5.2</span></strong></td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul>
        <li><span>Example of PC(18:1<{9Z}>/20:4<{5Z,9E,12E,15E},2OH{8,11},oxo{14}>) from level B0 to level  S5.2 </span></li>
    </ul>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-hover table-striped thead-light">
            <thead>
            <tr>
                <th>Bulk</th>
                <th>Discrete</th>
                <th></th>
                <th></th>
                <th>sn Specific</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>B0</strong></td>
                <td><strong>D0</strong></td>
                <td></td>
                <td></td>
                <td><strong>S0</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>PC(38:5)</td>
                <td>PC(18:1_20:4)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D0.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S0.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15}&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D0.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S0.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E}&gt;)</td>
            </tr>
            <tr>
                <td><strong>B1</strong></td>
                <td><strong>D1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S1</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>PC(38:5&lt;+46&gt;)</td>
                <td>PC(18:1_20:4&lt;+46&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4&lt;+46&gt;)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D1.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S1.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15},+46&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15},+46&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D1.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S1.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E},+46&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E},+46&gt;)</td>
            </tr>
            <tr>
                <td><strong>B2</strong></td>
                <td><strong>D2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S2</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>PC(38:5&lt;+3O,-2H&gt;)</td>
                <td>PC(18:1_20:4&lt;+3O,-2H&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4&lt;+3O,-2H&gt;)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D2.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S2.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15},+3O,-2H&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15},+3O,-2H&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D2.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S2.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E},+3O,-2H&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E},+3O,-2H&gt;)</td>
            </tr>
            <tr>
                <td><strong>B3</strong></td>
                <td><strong>D3</strong></td>
                <td></td>
                <td></td>
                <td><strong>S3</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>PC(38:5&lt;2OH,oxo&gt;)</td>
                <td>PC(18:1_20:4&lt;2OH,oxo&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4&lt;2OH,oxo&gt;)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D3.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S3.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15},2OH,oxo&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15},2OH,oxo&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D3.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S3.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E},2OH,oxo&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E},2OH,oxo&gt;)</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>D4</strong></td>
                <td></td>
                <td></td>
                <td><strong>S4</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PC(18:1_20:4&lt;2OH{8,11},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4&lt;2OH{8,11},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D4.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S4.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15},2OH{8,11},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15},2OH{8,11},oxo{14}&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D4.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S4.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E},2OH{8,11},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E},2OH{8,11},oxo{14}&gt;)</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>D5</strong></td>
                <td></td>
                <td></td>
                <td><strong>S5</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PC(18:1_20:4&lt;2OH{8R,11S},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1/20:4&lt;2OH{8R,11S},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>D5.1</strong></td>
                <td></td>
                <td></td>
                <td><strong>S5.1</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;_20:4&lt;{5,9,12,15},2OH{8R,11S},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9}&gt;/20:4&lt;{5,9,12,15},2OH{8R,11S},oxo{14}&gt;)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>D5.2</strong></td>
                <td></td>
                <td></td>
                <td><strong>S5.2</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;_20:4&lt;{5Z,9E,12E,15E},2OH{8R,11S},oxo{14}&gt;)</td>
                <td></td>
                <td></td>
                <td>PC(18:1&lt;{9Z}&gt;/20:4&lt;{5Z,9E,12E,15E},2OH{8R,11S},oxo{14}&gt;)</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}