{% extends "base.html" %}

{% block title %}
    Linker @ LipidLynxX
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="False">
        <p></p>
        <h1>LipidLynxX Linker</h1>
        <div class="container">
            <div class="row align-items-center align-items-md-start">
                <div class="col-6 col-md-6 mb-6 mb-md-0" style="z-index: 10000;">
                    <ul class="nav nav-tabs justify-content-center" id="levelsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tools-tab" data-toggle="tab" href="#tools" role="tab"
                               aria-controls="tools" aria-selected="true">Link list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="namesys-tab" data-toggle="tab" href="#namesys" role="tab"
                               aria-controls="namesys" aria-selected="false">Link file</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="levelsTabContent">
                        <div class="tab-pane fade show active" id="tools" role="tabpanel"
                             aria-labelledby="tools-tab">
                            <p></p>
                            <h4>Input lipid abbreviations:</h4>
                            <p></p>
                            <div>
                                <form action="{{ url_for('linker_text') }}" method="post">
                                    <p><label>
                                        lipid names (max 100 rows) <br>
                                        <textarea type="text" name="lipid_names" class="form-control"
                                                  style="width:100%;"
                                                  rows="8">palmitic acid&#10;PLPC&#10;PLPE&#10;</textarea>
                                    </label></p>
                                    <p><label for="export_url">Include resource URL in export:
                                        <select id="export_url" name="export_url">
                                            <option value="include">Export resource URL with ID</option>
                                            <option value="exclude">Export resource ID only</option>
                                        </select></label></p>
                                    <p><label for="file_type">Choose the export format:
                                        <select id="file_type" name="file_type">
                                            <option value="xlsx">.xlsx</option>
                                            <option value="csv">.csv</option>
                                        </select></label></p>
                                    <button type="submit" class="btn btn-primary" id="run_text_Linker">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="namesys" role="tabpanel" aria-labelledby="namesys-tab">
                            <p></p>
                            <h4>Upload file with lipid abbreviations</h4>
                            <form action="{{ url_for('linker_file') }}" method="post" enctype="multipart/form-data">
                                <p></p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{ url_for('home') }}images/icons/file-earmark-spreadsheet.svg"
                                             alt="upload_table" height="96">
                                    </div>
                                    <div class="col-md-9">
                                        <p><label>
                                            Select file: <br><small>support .csv and .xlsx file less than 10MB</small>
                                            <input type="file" name="file_obj">
                                        </label></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-9">
                                        {# get default templates file from default_template_files #}
                                        <a href="{{ url_for('get_download_file', file_name='LipidLynxX_Linker_Template.csv') }}">
                                            <img src="{{ url_for('home') }}images/icons/file-earmark-arrow-down.svg"
                                                 alt="download_template">
                                            Download example template.
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="alert alert-warning" role="alert">
                                        <p><img src="{{ url_for('home') }}images/icons/exclamation-diamond.svg"
                                                alt="attention">&nbsp;Please check input file has header.<br>
                                            You can use <code>-</code> and <code>_</code> in the headers.<br>
                                            Please do not use special character such as <code>\</code>,
                                            <code>/</code>,<code>@</code>,<code>#</code>,<code>$</code>...
                                        </p>
                                    </div>
                                </div>
                                <p><label for="export_url">Include resource URL in export:
                                    <select id="export_url" name="export_url">
                                        <option value="include">Export resource URL with ID</option>
                                        <option value="exclude">Export resource ID only</option>
                                    </select></label></p>
                                <div class="alert alert-warning" role="alert">
                                    <p><img src="{{ url_for('home') }}images/icons/exclamation-diamond.svg"
                                            alt="attention">&nbsp; LipidLynxX Linker generates xlsx format output from
                                        file input only.</p>
                                </div>
                                <input type="hidden" value="xlsx" name="file_type"/>
                                <button type="submit" class="btn btn-primary" id="run_file_Linker">Submit file</button>
                            </form>
                        </div>
                    </div>
                    <div><p>&nbsp;</p></div>
                    <div class="d-flex align-items-center alert alert-info" id="spinner" style="visibility: hidden">
                        <strong>LipidLynxX Linker is running...</strong>
                        <div class="spinner-border  text-warning ml-auto" role="status" aria-hidden="true"></div>
                        <script type="application/javascript">
                            $(document).ready(function () {
                                $("#run_file_Linker").click(function () {
                                    let spinner = document.getElementById("spinner");
                                    spinner.style.visibility = 'visible';
                                    let results_info = document.getElementById("results_info");
                                    results_info.style.visibility = 'hidden';
                                });
                                $("#run_text_Linker").click(function () {
                                    let spinner = document.getElementById("spinner");
                                    spinner.style.visibility = 'visible';
                                    let results_info = document.getElementById("results_info");
                                    results_info.style.visibility = 'hidden';
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 ml-md-auto text-left" id="results_info">
                    {% if  submitted %}
                        {% if data %}
                            <div><h2>LipidLynxX Linker output</h2><h4>&nbsp;</h4></div>
                        {% else %}
                            <div><h2>Failed to generate LipidLynxX Linker output</h2><h4>&nbsp;</h4></div>
                        {% endif %}
                        {% if err_msgs %}
                            {% for err_msg in err_msgs %}
                                <div class="alert alert-danger" role="alert">{{ err_msg }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if data and output_generated %}
                            <div>
                                <a class="btn btn-block btn-success"
                                   href="{{ url_for('get_download_file', file_name=output_file_name) }}">
                                    {% if export_url %}
                                        Save output include resource URL as:<br>{{ output_file_name }}
                                    {% endif %}
                                    {% if not export_url %}
                                        Save output without resource URL as:<br>{{ output_file_name }}
                                    {% endif %}
                                </a>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class="table-responsive-lg table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-hover table-bordered">
                                    {% for col_name, col_data in data.items() %}
                                        <tr>
                                            <th scope="row">{{ col_name }}</th>
                                            <td>
                                                <form action="/linker/results/summary" method="post"
                                                      enctype="multipart/form-data" target="_blank">
                                                    <input type="hidden"
                                                           value={{ col_data.display_data }} name="display_data"/>
                                                    <input type="hidden"
                                                           value={{ col_data.lynx_names }} name="lynx_names"/>
                                                    <input type="hidden" value={{ output_file_name }} name="file_name"/>
                                                    <input type="hidden" value={{ export_url }} name="export_url"/>
                                                    <button type="submit" class="btn btn-info"
                                                            id="view_resource_summary">View results summary
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}