{% extends "base.html" %}

{% block title %}
    Converter @ LipidLynxX
{% endblock %}

{% block body %}
    <section class="fdb-block" data-block-type="contents" data-id="6" data-vivaldi-spatnav-clickable="1"
             draggable="False">
        <h1>LipidLynxX Nomenclature Converter</h1>
        <div class="container">
            <div class="row align-items-center align-items-md-start">
                <div class="col-12 col-md-6 mb-4 mb-md-0" style="z-index: 10000;"><p>
                    <h2>Input lipid abbreviations</h2>
                    <div>
                        <form id="in_form" method="post" action="{{ url_for('.convert_lipid_string') }}">
                            {{ in_form.hidden_tag() }}
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ in_form.input_id_str.label }}
                                            {% if in_form.input_id_str.errors %}
                                                {% for e in in_form.input_id_str.errors %}
                                                    <p class="help-block">{{ e }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {{ in_form.input_id_str(class_='form-control') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="btn btn-primary btn-block" type="submit"
                                               value="Convert abbreviations">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div><h2>&nbsp;</h2></div>
                    <h2>Upload table</h2>
                    <div>
                        <form id="form1" method="post" action="{{ url_for('.convert_lipid_table') }}"
                              enctype="multipart/form-data">
                            <div class="col-12">
                                <div class="row">
                                    <input id="file1" class="btn btn-info mt-4 btn-block" type="file"
                                           name="user_file">
                                </div>
                                <div class="row">
                                    Support .csv or .xlsx format
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="btn btn-primary mt-4 btn-block" type="submit"
                                               value="Convert table">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left" style="z-index: 10000;">

                    {% if out_dct != {} %}
                        <h2>LipidLynxX output</h2>
                        <a class="btn btn-success mt-4"
                           href="{{ url_for('.download', filename=output_name, data=excel_data) }}">
                            Save output as .xlsx file
                        </a>
                        <p>&nbsp;</p>
                        <h4>Converted abbreviations</h4>
                        <p>&nbsp;</p>
                        <div class="alert alert-success" role="alert">
                            {% for epi_id in out_dct %}
                                <p>{{ epi_id }} -> {{ out_dct[epi_id] }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if alerts != [] %}
                        <div class="alert alert-warning" role="alert">
                            {% if submitted == 1 and out_dct == {} %}
                                <h5>Not able to convert any lipid abbreviation, please check your input.</h5>
                            {% elif submitted == 1 and out_dct != {} %}
                                <h2>LipidLynxX output</h2>
                                <h2></h2>
                                <h4>Not able to convert following abbreviations:</h4>
                            {% endif %}
                        </div>
                        <div class="alert alert-dark" role="alert">
                            {% for alert_info in alerts %}
                                <p>{{ alert_info }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}